/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-header {
    background-color: #4CAF50;
    color: rgb(58, 58, 58);
    padding: 10px;
    text-align: center;
}

